{
    "username": "mfs_datalake_py_mmb",
    "password": "YOUR_PASSWORD",
    "apikey": "KBhFR7Hfasdfasd3f21MK4wIeT1DK",
    "subdomain": "tmpydev.sandbox",
    "start_date": "2022-11-17T00:00:00Z",
    "user_agent": "tap-mambu <mfs_prod_py_mmb@millicom.com>",
    "apikey_audit": "AUDIT_TRAIL_APIKEY"
}